@import '../variables.scss';

.l {
  &-footer{
    width: 100%;
    height: 538px;
    background-color: $black;
  }
}
.footer-wrap{ 
    width: 1440px;
    margin: 0 auto;
    padding-top: 80px;
    & > * {color: $white;}
    display: flex;
    .logo{
      width: 363px;
      h1 {
        width: 206px;
        height: 100%;
        text-indent: -9999px;
        background: url('/image/fLogo.png') no-repeat top left / contain;
      }
    }
    .content {
      width: calc(100% - 363px);
      .site-link{
        display: flex;
        justify-content: space-between;
        ul {
          display: flex;
          li {
            color: $white;
            font-weight: $fsBold;
            &:not(&:first-child){
              margin-left: 56px;
            }
          }
        }
        .dropdown {
          color: #D4D6D4;
        }
      }
      .sub-link{
        margin-top: 48px;
        display: flex;
        align-items: flex-start;
        ul {
          width: 320px;
          display: flex;
          justify-content: space-between;;
          flex-wrap: wrap;
          gap: 16px 80px;
          color: $white-gray;
          margin-right: 80px;
          li {
            flex: 1 0 calc((100% / 2) - 80px);
            line-height: 1.5;
          }
        }
        ul:last-child {
          width: 224px;
          margin-right: 0;
          gap: 16px 0;
          li {
            font-size: $fs14;
            height: 24px;
            flex: 1 0 calc(100% / 2);
          }
        }
      }
      .info{
        display: flex;
        justify-content: space-between;
        margin-top: 68px;
        ul {
          display: flex;
          flex-wrap: wrap;
          &:not(&:first-child){
            margin-top: 6px;
          }
          li{
            color: $white-gray;
            position: relative;
            font-size: $fs14;
            &:nth-child(2) {
              padding: 0 9px;
              margin: 0 9px;
              &::after{
                content: "";
                position: absolute;
                top: 2px;
                left: 0;
                display: inline-block;
                width: 1px;
                height: 10px;
                background: #727573;
              }
              &::before{
                content: "";
                position: absolute;
                top: 2px;
                right: 0;
                display: inline-block;
                width: 1px;
                height: 10px;
                background: #727573;
              }
            }
          }
        }
      }
      .copyright{
        display: flex;
        justify-content: space-between;
        color: $white-gray;
        margin-top: 32px;
        ul {
          display: flex;
          li {
            img {
              height: 50px;
            }
            &:not(&:first-child){
              margin-left: 12px;
            }
          }
        }
      }
    }
}