@font-face {
  font-family: "Happiness-Sans";
  font-weight: 400;
  src: url("./Happiness-Sans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Happiness-Sans";
  font-weight: 700;
  src: url("./Happiness-Sans-Bold.woff") format("woff");
}

@font-face {
  font-family: "Happiness-Sans";
  font-weight: 900;
  src: url("./Happiness-Sans-Title.woff") format("woff");
}